<input type="checkbox" class="toggle" {{#if this.completed}} checked {{/if}}>
<form><input type="text" class="edit" value="{{content}}"></form><label class="read">{{content}}</label><button class="destroy"></button>